@charset "utf-8";

.unit {
    display:block;
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: 100px;
    padding: 0.5em;
    cursor: pointer;
    overflow: auto;
}

.close-button {
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 3;
    margin-left: -1em;
    margin-top: -1em;
    cursor: default;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    font-size: 100%;
    padding: 2px;
    border-radius: calc(0.5em + 2px);
}

.close-button:hover {
    color: red;
    background-color: mistyrose;
    filter: drop-shadow(1px 1px 1px);
}
